/Workspace
/workspace
**/Workspace/java
**/workspace/java
**/*.pj
**/~*
**/.project
**/.classpath
**/.checkstyle
**/.settings
**/target
**/*springBeans
*.log
.factorypath
**/node_modules
**/ngapp/coverage
**/dependency
**/documentation
**/.vscode
**/.idea
**/dist/
**/ngapp/**/*.tgz
**/package-lock.json
*.iml